@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Developed by @ViewData["Developer"]</p>

<address>
    <strong> Contact: </strong> <a href="https://www.linkedin.com/in/gabriel-martins-carossi-4583211bb/">Linked-In</a>
</address>
<address>
    <strong> More Projects: </strong> <a href="https://github.com/GabrielMartinsCarossi">GitHub</a>
</address>